{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nike original shoes : Sports</h1>
      <p class="lead"> Nike is worldwide sportswear brand! Especially its footwear is so cool ^^   </p>
    </div>
</div>
</div>
<div class="card-deck">
  <div class="card">
      <img src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/2139b657-e55e-4656-b1e6-9eea53fc56c6/air-max-90-se-shoe-N9gVFF.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nike AIRMAX Series</h5>
        <p class="card-text">The Nike Air Max 90 SE celebrates the unifying power of sport. Staying true to its '90s running roots with the rubber Waffle outsole, stitched overlays and TPU accents, the 'people's shoe' adds fresh new colours inspired by sport.</p>
          <a href="#" class="btn btn-primary">Detail</a>
      </div>
  </div>
  <div class="card">
      <img src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/50ce45be-3926-4e9e-a26b-d8cb71a2a9a3/air-jordan-1-low-shoe-p7WZhQ.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Jordan</h5>
        <p class="card-text">Inspired by the original that debuted in 1985, the Air Jordan 1 Low offers a clean, classic look that's familiar yet always fresh. It's made for casual mode, with an iconic design that goes with everything and never goes out of style.</p>
          <a href="#" class="btn btn-primary">Detail</a>
      </div>
  </div>
</div>
{% endblock %}