{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nike original shoes : LifeStyle</h1>
      <p class="lead"> Nike's lifestyle shoes is loved all over the world. Because their fantastic design and good quility! </p>
    </div>
</div>
  <div class="card-deck">
    <div class="card">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c358caa2-ac12-42bb-8641-302e63b704f9/daybreak-shoe-Hxrl0S.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nike Daybreak</h5>
          <p class="card-text">The Nike Daybreak SP marks the return of the 1979 original, featuring suede and nylon on the upper and old-school graphics on the tongue for a '70s runner-inspired look and feel.</p>
            <a href="#" class="btn btn-primary">Detail</a>
        </div>
    </div>
    <div class="card">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/qzfu1gccdxqeujgnhoda/blazer-mid-77-vintage-shoe-pMfjs8.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Nike Blazer</h5>
          <p class="card-text">The Nike Blazer Mid '77 Vintage harnesses the old-school look of Nike Basketball with a vintage midsole finish, making it look like you've been saving them for years.</p>
            <a href="#" class="btn btn-primary">Detail</a>
        </div>
    </div>
  </div>
{% endblock %}