{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nike shoes</h1>
      <p class="lead">This page introduces Nike shoes. I hope you enjoy watching! </p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
        <img src="https://www.stadiumgoods.com/media/catalog/product/b/v/bv0073_400_1_1.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">NikeXSacai</h5>
          <p class="card-text">In collaboration with Japanese high-fashion label sacai, designer Chitose Abe fused two iconic Nike shoes for a hybrid, double-themed design.</p>
          <a href="/nikeXsacai" class="btn btn-primary">Detail</a>
        </div>
    </div>
    <div class="card">
        <img src="https://m.threestep.co.kr/web/product/big/20200314/3a6fae59aed61d64d29281289091bb1d.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">NikeXSupreme</h5>
          <p class="card-text">Supreme has just given an official release date for its upcoming Nike Air Force 1 Low collaboration. Although many have commented on the collab being too minimal, the small placement of the iconic Box Logo is just the right amount of flair to distinguish the collaboration, and maintain its classic New York appeal.</p>
          <a href="/nikeXsupreme" class="btn btn-primary">Detail</a>
        </div>
    </div>
    <div class="card">
      <img src="https://cdn.eyesmag.com/content/uploads/sliderImages/2020/03/31/stussy-nike-korea-release-info-01-e4f3ed67-9c07-4b7e-8952-ac41dc261f3e.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">NikeXStussy</h5>
        <p class="card-text">The Stussy x Nike Air Zoom Spiridon Cage 2 Fossil is one of two colourways of the retro running silhouette that’s set to launch as part of Nike’s latest collaboration with legendary Californian streetwear label Stussy.</p>
        <a href="/nikeXstussy" class="btn btn-primary">Detail</a>
      </div>
    </div>
  </div>
{% endblock %}
