{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">NikeXSacai</h1>
      <p class="lead">Welcome to NikeXSacai World!</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-6">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/proxy/jT_3g_YMnPHnsgTreFbQGNHeswO9HXEYYe48tAwmA62MWtazBLsGpInNNOGBvjf9cFK_va-AvF8pXWAXQXMkRe4q7zVh3ekdnRdKSjBFPEeqqDX7oPUVN1xZ5KH7heENyi7zqNaWQMFVhH-ONd6Ei9lE4oY" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE X SACAI LDVWAFFLE BV0073-300</h5>
          <p class="card-text">Color : Green Gusto/Safety Orange/Black<br></br>
        Price : 179,000<br></br>
        Resell Price : 800,000 ~ 900,000</p>
        </div>
      </div>
    </div>
    <div class="col mb-6">
      <div class="card">
        <img src="https://pbs.twimg.com/media/D0nY92kVYAA7wU6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE X SACAI LDVWAFFLE BV0073-400</h5>
          <p class="card-text">Color : Varsity Blue/Del Sol/Varsity Red/Black<br></br>
            Price : 179,000<br></br>
            Resell Price : 800,000 ~ 900,000</p>
        </div>
      </div>
    </div>
    <div class="col mb-6">
      <div class="card">
        <img src="https://media.endclothing.com/end-features/prodfeatures/36ef89ecefb6886a501d6bf193b911bf7d1a4c1f_bv0073-301_launches_hero_landscape_1.jpg?auto=compress,format" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE X SACAI LDVWAFFLE BV0073-301</h5>
          <p class="card-text">Color : Pine Green/Clay Orange/Pink<br></br>
            Price : 179,000<br></br>
            Resell Price : 600,000 ~ 700,000</p>
        </div>
      </div>
    </div>
    <div class="col mb-6">
      <div class="card">
        <img src="https://media.endclothing.com/end-features/prodfeatures/44423c5654650669253593a2efb6760c9aca395a_bv0073-100_launches_hero_landscape_1.jpg?auto=compress,format" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE X SACAI LDVWAFFLE BV0073-100</h5>
          <p class="card-text">Color : Summit White/Wolf Grey<br></br>
            Price : 179,000<br></br>
            Resell Price : 900,000 ~ 1,000,000</p>
        </div>
      </div>
    </div>
    <div class="col mb-6">
        <div class="card">
          <img src="https://media.endclothing.com/end-features/prodfeatures/5952bed019d46df4f61d2cf442c202b2dad8e887_bv0073-001_launches_hero_landscape_1.jpg?auto=compress,format" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NIKE X SACAI LDVWAFFLE BV0073-001</h5>
            <p class="card-text">Color : Black/White/Gunsmoke<br></br>
                Price : 179,000<br></br>
                Resell Price : 800,000 ~ 900,000</p>
          </div>
        </div>
      </div>
      <div class="col mb-6">
        <div class="card">
          <img src="https://imseoulman.com/web/product/big/201906/dcd046f4b3db23f5a43615072ad1dc7d.jpg" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">NIKE X SACAI BLAZER BLUE BV0072-001</h5>
            <p class="card-text">Color : Blue<br></br>
              Price : 168,000<br></br>
              Resell Price : 580,000 ~ 700,000</p>
          </div>
        </div>
      </div>
  </div>
{% endblock %}