{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">NikeXStussy</h1>
      <p class="lead">Welcome to NikeXStussy World!</p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
        <img src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2020%2F03%2Fstussy-nike-collavorative-air-zoom-spiridon-caged-2-collection-korea-release_0021_01-02.jpg?q=90&w=1400&cbr=1&fit=max" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Nike Air Zoom Spiridon Cage 2 Stussy Pure Platinum / CU1854-001</h5>
          <p class="card-text">Color : Pure Platinum/Black-White<br></br>
            Price : $160<br></br>
            Resell Price : 300,000 ~ 500,000</p>
        </div>
    </div>
    <div class="card">
        <img src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2020%2F03%2Fstussy-nike-collavorative-air-zoom-spiridon-caged-2-collection-korea-release-ft-1.jpg?q=90&w=1400&cbr=1&fit=max" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Nike Air Zoom Spiridon Cage 2 Stussy Fossil / CQ5486-200</h5>
          <p class="card-text">Color : Fossil/Black-Fossil<br></br>
            Price : $160<br></br>
            Resell Price : 700,000 ~ 950,000</p>
        </div>
    </div>
    <div class="card">
      <img src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile21.uf.tistory.com%2Fimage%2F998107505EA6F01E32D610" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nike Air Zoom Spiridon Cage 2 Stussy Black / CQ5486-001</h5>
        <p class="card-text">Color : Black/Cool Grey-Black<br></br>
          Price : $160<br></br>
          Resell Price : 35,000 ~ 550,000</p>
      </div>
    </div>
  </div>
{% endblock %}